html {
  font-family: Outfit, Arial;
  font-weight: 400, 600, 700;
  height: 100%;
  width: 100%;
  background-color: hsl(30, 54%, 90%);
}
body{
    margin: 550px;
    padding:20px;
    background-color: white;
    justify-content: center;
}
h1{
  font-family: Young, serif;
  font-weight: 400;
}
h2
{
  font-family: Outfit, Arial;;
  font-weight: 400, 600, 700;
  color: hsl(14, 45%, 36%);
}
h3
{
  font-family: Young, Arial, ;
  font-weight: 400;
  color:hsl(332, 51%, 32%) ;
}
table
{
  border-collapse: collapse;
  width: 100%;
}
tr
{
  border-bottom: 1px solid #ddd;
}